<!doctype html>
<html><head>
<style>
body{margin:0;}
iframe{position:absolute;border:medium none;width:100%;height:100%;}
#sash{position:absolute;top:0;left:0;background-color:#00c000;font:11px sans-serif;color:#ffffff;}
</style>
</head><body>
<script src="/common/js/master.js"></script>
<script>setupSandbox(<%- JSON.stringify(childBody).replace(/<\//g, '<\\/') %>);</script>
<div id="sash">confined</div>
</body></html>
